/*<a target="_blank" href="https://icons8.com/icon/vuDouE2J91Fn/сердце">Сердце</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/

.product__ideas-wrap {
    margin-bottom: 5rem;
    display: flex;
}
.product__ideas-wrap .container {
    width: 170rem;
}
.product__ideas {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
}
.product__ideas--left-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.product-ideas__search-panel {
    display: flex;
    background-color: rgba(211, 211, 211, 0.22);
    height: 100rem;
}
.product-ideas--right-col {
    display: flex;
    flex-direction: column;
    flex: 3;
}
.fresh__ideas {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 5rem;
}
.product-ideas__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    padding: 5rem 5rem 5rem 5rem;
}
.product-ideas__item {
    height: 30rem;
    width: 50rem;
    position: relative;
}
.product-ideas__image {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    position: relative;
}
.like {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    opacity: 0.7;
    cursor: pointer;
}
.like:hover {
    opacity: 1;
}