/*https://www.pngwing.com/en/free-png-bmuzp*/ /*Bubble*/

html {
    font-size: 62.5%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 16px - 100%  */
/* 10px - 62.5% */
/* 1rem = 16px  */
/* 1rem = 10px  */

h1{
    font-size: 6rem;
    margin-bottom: 3rem;
}
h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

body {
    box-sizing: border-box;
    font-size: 1.8rem;
    max-width: 192rem;
    margin: 0 auto;
    /*font-family: 'Indie Flower', cursive;*/
}
.container {
    width: 170rem;
    margin: 0 auto;
}
.header__nav-wrap {
    width: 170rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar {
    display: flex;
    flex-direction: row;
}
.header__navbar-item {
    padding: 3rem 5rem;
}
.header__navbar-link {
    cursor: pointer;
    color: black;
    font-size: 2.2rem;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-size: 5.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0.5rem;
 }
.header__main-pic {
    height: 80rem;
    background-image: url("../images/main1.jpg");
    background-size: cover;
    position: relative;
}


/*****************************************************CREATIVITY*************************/

.creativity {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: antiquewhite;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.right-col-lg, .left-col-lg {
    /*background-color: #dedede;*/
    background-color: antiquewhite;
    height: 70rem;
    width: 80rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.34);
}
.about-me-container p {
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
}

.creativity__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.box {
    /*background-color: lightgray;*/
    width: 54rem;
    height: 40rem;
    /*background-color: antiquewhite;*/
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*background-color: gray;*/


}

.left-col-lg {
    position: relative;
}
.image {
    padding: 2rem 2rem 4rem 2rem;
    background-color: rgba(255, 255, 255, 0.34);
    position: absolute;
    top: 10rem;
    left: 10rem;
}
